@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;600;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;600&display=swap');

/* for the navbar*/
body {
    margin: 0;
    background: url("./bg-hobbies.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    padding-top: 1.2em;
    color: #F5F5F5;
}

.top-menu{
    margin-top: 1.2em;
    list-style: none;
    text-align: center;
}

.top-menu li{
    font-family: 'DM Sans', sans-serif;
    font-size: 1em;
    margin: 1em 3em 1em 3em;
    display: inline-block;
}

.top-menu li a{
    text-decoration: none;
    color: #F5F5F5;
}

.top-menu li a{
    text-decoration: none;
    color: #F5F5F5;
    transition: 0.3s;
}

.top-menu li a:hover{
    color: #445BF4;
}

.top-menu #selected{
    font-weight: 700;
    color: #FEFEFF;
    text-decoration: underline;
}

/*for the heading*/
.home {
    overflow: hidden;
}

.home .home-header{
    padding: 1em 2em 1em 2em;
    text-align: center;
}

.home .home-header h1{
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
    font-size: 3em;
}

.home .home-header span{
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.home .home-header h2{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1.5em;
}

/*for the interests*/
.interests{
    text-align: center;
}

.hobby{
    width: 22em;
    height: 18em;
    /*background-color: #65bc91;*/
    margin: 2em 3em 2em 3em;
    display: inline-block;
    vertical-align: middle;
    /*box-shadow: 0px 5px 8px #888888;*/
}

.hobby img{
    width:10em;
    height:10em;
    object-fit: cover;
    border: none;
    border-radius: 50%;
    
}

p{
    font-family: 'DM Sans', sans-serif;
    font-size: 1.2em;
    padding: 0  2em 0 2em;
    margin-bottom: 2em;
}

@media only screen and (min-width: 740px){
    
    .top-menu li{
        font-size: 1.3em;
    }

    .home .home-header h1{
        font-size: 3.5em;
    }

    p{
        font-size: 1.4em;
    }

    .hobby img{
        width:14em;
        height:14em;
    }

}